* {
    box-sizing: border-box;
  }
body{
    margin : 0px;
    font-family :Verdana, Tahoma, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
    
.navbar{
    position: relative;
    margin-top:20px ;
    height: 40px;
    background-color :rgb(255, 255, 255) ;
    width : 100%;
}
.navbar a#active {
    background-color: #000000;
    color: white;
}

.nav-bar{
    padding: 20px;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color : black;
}

.nav-bar:hover{
    background-color: rgb(0, 0, 0);
    color : white ;
    font-weight: bold;
    border : 5px solid black;
    box-shadow: 3px 3px 5px rgb(61, 59, 59);
}

.the_me{
    height: 878px;
} 
.the_me_container{
    float : right;
    height: 880px;
} 
.intro{
    padding: 10px;
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    height: 500px;
    width: 50%;
}
#about{
    position: absolute;
    margin-top : 200px;
    width: 100%;
    height: 800px;
}
.the_me2_container{
    float: left;
    height: 800px;
}
.the_me2{
    height: 800px;
}
.text_about_container{
    position: absolute;
    padding-left : 20px;
    margin-left : 600px;
    height: 800px;
}

.presentation-1, .presentation-about1{
    margin-top: 80px;
    font-size: xx-large;
    font-weight: bold;
    
}
.presentation-2, .presentation-about2{
    font-size: medium;
    padding : 5px;
    font-weight: bold;
}

.mail{
    font-size: medium;
    padding : 5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.button{
    position : absolute;
    margin-top: 15px;
    padding :15px;
    border : 5px solid black;
    border-radius : 50px;
    background-color: rgb(0, 0, 0);
    color : white;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 3px 3px 5px rgb(61, 59, 59);
}
.button:hover{ 
    border : 10px solid black;
}

.section-title{
    position: relative;
    margin-top: 1150px ;
    width: 100%;
    height: 100px;
    font-size: xx-large;
    text-shadow: 3px 3px 5px rgb(61, 59, 59);
}
#education{
    position: absolute;
    width : 100%;
    height: 700px;
    
}
.ed-logos{
    position : absolute;
    float: left;
    width:40%;
    height :550px;
    
}
#link-esat:hover{
    font-size: large;
}
.mail:hover{
    font-size: large;
}
.logo-e{
    position: absolute;
    height: 150px;
    margin-left: 200px;
    margin-top: 50px;
}
.logo-e:hover{ 
    height: 160px;
}
.logo-h{
    position: absolute;
    height: 300px;
    margin-left: 200px;
    margin-top: 280px;
}
.logo-h:hover{ 
    height: 310px;
}

.esat-description{
    position: absolute;
    margin-top: 80px;
    margin-left: 800px;
    font-weight: bold;
}
.hd-description{
    position: absolute;
    margin-top: 350px;
    margin-left: 800px;
    font-weight: bold;
}
.hd-description a{
    text-decoration: none;
    color: #000000;
}
.hd-description a:hover{
    font-size: large;
}
#button-certif{
    position :relative;
    margin-left: 810px;
}
.portfolio-title{
    margin-top: 850px ;
    width: 100%;
    height: 100px;
    font-size: xx-large;
    text-shadow: 3px 3px 5px rgb(61, 59, 59);
}
.projects{
    position: absolute;
    margin-top : 50px;
    margin-left: 100px;
    width : 90%;
    height: 2000px; 
}
.column2:hover{
    background-color: rgba(123, 202, 123, 0.05);
}

#section1, #section2, #section3, #section4{
    width : 100%;
    border: 1px solid black;
    height : 500px
}
.column1, .column2, .column3{
    height : 500px;
    display : inline;
    
}
.column1{
    float: left;
    width: 25%;
    border: 1px solid rgb(90, 29, 29);
}
.column2{
    float: inline-start;
    width: 60%;
    border: 1px solid rgb(34, 17, 110);
}
.column3{
    float: right;
    width: 15%;
    border: 1px solid rgb(29, 136, 82);
}
.experiences-title{
    margin-top: 2200px ;
    width: 100%;
    height: 100px;
    font-size: xx-large;
    text-shadow: 3px 3px 5px rgb(61, 59, 59);
}
.logo-airgeo{

}
.logo-ageis{
    
}
.logo-airgeo:hover{

}
.logo-ageis:hover{

}























.footer{  
    position : relative;
    margin-top: 2000px;
    width:100%;
    height: 50px;
    padding: 1px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: bold;
    background-color: rgb(0, 0, 0); 
}
@media screen and (max-width:600px){
    .navbar{
        margin-top: 0px;
    }
    .nav-bar{
        display: block;
        width :40%;      
        
    }
    .the_me{
        height: 350px;
    } 

    .the_me_container{
        margin-top: 0;
        float:right;
        height : 350px;
     
     
    }
    .the_me2{
        display: none;
    } 
    .intro{
        display: none;
    }
    #about{
        position: absolute;
        margin-left : 0px;
        margin-top: 0px;
        height: 700px;
    }
    .text_about_container{
        position: absolute;
        margin-left: 0px;
        margin-top: -65px;
        height: 700px;
        width:90%;
    }
    .presentation-1, .presentation-about{
        margin-top: 0px;
        font-size: large;
        font-weight: bold;
    
    }
    .presentation-2, .presentation-about2{
        font-size: small;
        padding : 3px;
        font-weight: bold;
    }
    .button{
        position : absolute;
        padding :10px;
        font-size: smaller;
    }
    .section-title{
        margin-top: 720px ;
        height: 20px;
        font-size:x-large;
    }
    .logo-e{
        height: 50px;
        margin-left: 100px;
        margin-top: 50px;
    }  
    .logo-h{    
        height: 180px;
        margin-left: 60px;
        margin-top: 200px;
    }
    .esat-description{
        margin-top: 120px;
        margin-left: 10px;
        font-size: smaller;
    }
    .hd-description{
        margin-top: 350px;
        margin-left: 10px;
        font-size: smaller;
    }
    #button-certif{
        margin-left: 80px;
    }
    .portfolio-title{
        margin-top: 750px ;
        height: 60px;
        font-size: x-large;
        text-shadow: 3px 3px 5px rgb(61, 59, 59);
    }
    .projects{
        position: absolute;
        margin-top : 30px;
        margin-left: 0px;
        width : 100%;
    }
    #section1, #section2, #section3, #section4{
        width : 100%;
        border: 1px solid black;
        height : 1000px
    }
    .column1{
        float : none;
        display : block;
        width: 100%;
        height: 250px;
        border: 1px solid rgb(90, 29, 29);
    }
    .column2{
        float : none;
        display : block;
        width: 100%;
        border: 1px solid rgb(34, 17, 110);
    }
    .column3{
        float : none;
        display : block;
        width: 100%;
        height: 250px;
        border: 1px solid rgb(29, 136, 82);
    }
}