* {
    box-sizing: border-box;
  }
body{
    margin : 0px;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
}
.the_me{
    float : right;
    height: 880px;
} 
.navbar{
    position: sticky;
    top : 0 ;
    margin-top: 20px ;
    background-color :rgb(255, 255, 255) ;
    width : 100%;
}
.nav-bar{
    padding: 20px;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color : black;
}
main{
    margin-top: 250px;
    margin-left: 100px;
}
.nav-bar:hover{
    background-color: rgb(0, 0, 0);
    color : white ;
    font-weight: bold;
    border : 5px solid black;
}

.presentation-1, .presentation-about{
    font-size: xx-large;
    font-weight: bold;

}
.presentation-2, .presentation-about2{
    font-size: medium;
    padding : 5px;
    font-weight: bold;

}
.button{
    position : absolute;
    margin-top: 15px;
    padding :15px;
    border : 5px solid black;
    border-radius : 50px;
    background-color: rgb(0, 0, 0);
    color : white;
    font-weight: bold;
    text-decoration: none;
}
.button:hover{ 
    border : 10px solid black;
}
#about{
    position: absolute;
    margin-top : 500px;
    width : 80%;
    height: 800px;
    
}
#education{
    position: absolute;
    display: inline;
    margin-top : 1200px;
    width : 90%;
    height: 800px;
    background-color: azure;    
}
.ed-logos{
    float: left;
    width:40%;
    height : 600px;
}
.ed-description{  
    margin-top: 100px;
    margin-right: 125px;
    font-weight: bold;
    
}
.logo-e{
    margin-top: 50px;
    position: absolute;
    height: 150px;
    margin-left: 10px;
}
.logo-e:hover{ 
    height: 160px;
}
.logo-h:hover{ 
    height: 310px;
}
.logo-h{
    position: absolute;
    margin-top: 280px;
    height: 300px;
}
.hd-description{
    margin-top: 200px;
}

#projects{
    position: absolute;
    margin-top : 2300px;
    width : 90%;
    height: 1000px;
    background-color: azure;    
}
.the_me2{
    float : left;
    height: 500px;
}

.footer{  
    position : relative;
    margin-top: 3500px;
    width:100%;
    text-align: center;
    color: rgb(14, 13, 13);
    font-size: x-large;
    font-weight: bold;
    background-color: azure; 
}